<div class="well">
    <h4>Recent News</h4>

    
    {{/* Load news items from content instead of data file */}}
    {{ $pages := slice }}
    {{ $itemsPage := site.GetPage "news/items" }}
    {{ if $itemsPage }}
        {{ $pages = $itemsPage.Resources.ByType "page" }}
    {{ else }}
        {{ $newsPages := where .Site.RegularPages "Section" "news" }}
        {{ $pages = where $newsPages "File.Dir" "news/items/" }}
    {{ end }}
    {{ $sorted := sort $pages "Date" "desc" }}
    {{ range first 5 $sorted }}
        {{- $headline := .Params.headline -}}
        {{- $link := .Params.link -}}
        <b>{{ .Date.Format "Jan 2006" }} </b>
        
        {{ $headline | markdownify }}
        {{- with $link -}}
            <a href="{{ . }}" target="_blank">More Info</a>
        {{- end -}}
    
        {{- with .Params.description -}}
        <p>{{ . | markdownify }}</p>
        {{- end -}}
    {{ end }}
    
    <h5 style="text-align: right;"><a href="/news">... see all News</a></h5> 
    
</div>